@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-600-accent: #b18bdd;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  --cyan-600-transparent: hsla(192, 37%, 48%, 0.9);

  /* Spacing */
  --sp-1900: 10.75rem;
  --sp-1400: 7rem;
  --sp-900: 4.5rem;
  --sp-800: 4rem;
  --sp-700: 3.5rem;
  --sp-500: 2.5rem;
  --sp-400: 2rem;
  --sp-300: 1.5rem;
  --sp-200: 1rem;

  /* Typography */
  --ff-red-hat: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  min-height: 100dvh;
  background-color: var(--white);
  font-family: var(--ff-red-hat);
}

/* Buttons */
button {
  border: none;
  border-radius: 29px;
  padding: var(--sp-200) var(--sp-500);
  background-color: var(--purple-600);
  color: var(--white);
  width: 12.25rem;
  font-weight: 700;
  transition: background-color 0.7s;
  cursor: pointer;
}

button span {
  color: var(--slate-300);
  font-weight: 600;
}

button:hover {
  background-color: var(--purple-600-accent);
}
/* Typography */

.red-hat-1 {
  font-family: var(--ff-red-hat);
  font-size: 2.625rem;
  line-height: 110%;
  letter-spacing: 0px;
}
.red-hat-2 {
  font-family: var(--ff-red-hat);
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0px;
}
.red-hat-3 {
  font-family: var(--ff-red-hat);
  font-size: 0.75rem;
  line-height: 110%;
  letter-spacing: 4px;
}
.red-hat-4 {
  font-family: var(--ff-red-hat);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}
.red-hat-5 {
  font-family: var(--ff-red-hat);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
}

@media screen and (min-width: 768px) {
  .red-hat-1 {
    font-size: 3rem;
  }
  .red-hat-2 {
    font-size: 2.25rem;
  }
  .red-hat-3 {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1440px) {
  .red-hat-1 {
    font-size: 4rem;
  }
  .red-hat-2 {
    font-size: 2.5rem;
  }
  .red-hat-3 {
    font-size: 1rem;
  }
  .red-hat-4 {
    font-size: 1.125rem;
  }
}

/* Header */
header {
  height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

header img {
  height: 1.75rem;
}

/* Hero */
.hero-container {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  transform: scale(0.55);
}

.hero-image.tablet {
  display: none;
}

.hero-content {
  margin: -1.5rem 2.125rem 2rem 2.125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero-content h1 {
  font-weight: 900;
  color: var(--slate-900);
}

.hero-content p {
  color: var(--slate-600);
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-buttons button:first-of-type {
  background-color: var(--cyan-600);
}

.hero-buttons button:last-of-type {
  width: 10rem;
}

.hero-buttons button:first-of-type:hover {
  background-color: var(--cyan-300);
}
/* Main content */
.main-content {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 915px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5rem;
}

.main-content .number-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 110px;
  z-index: 10;
  background-color: var(--white);
  padding: 0.8rem 1rem;
  border: 1px solid var(--slate-300);
  border-radius: 100%;
  color: var(--slate-600);
  font-weight: 900;
  font-family: var(--ff-red-hat);
  font-size: 1rem;
}

.main-content .number-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
  /* background-color: black; */
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: full;
  gap: 1rem;
  margin-top: 2rem;
}

.image-container img {
  width: 9.25rem;
  height: 9rem;
  border-radius: 10px;
}

.main-content .text-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.75rem;
  text-align: center;
  gap: 1rem;
}

.main-content .text-container h3 {
  text-transform: uppercase;
  color: var(--cyan-600);
  font-weight: 900;
}

.main-content .text-container h2 {
  color: var(--slate-900);
  font-weight: 900;
}

.main-content .text-container p {
  margin-top: 1rem;
  color: var(--slate-600);
  font-weight: 600;
}

/* Footer */
footer {
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

footer .number-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  z-index: 10;
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--slate-300);
  border-radius: 100%;
  color: var(--slate-600);
  font-weight: 700;
}

footer .number-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
}

footer .hero {
  padding: var(--sp-800) var(--sp-400);
  background: url("/mobile/image-footer.jpg") no-repeat center/cover;
  position: relative;
  height: 374px;
}

footer .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan-600-transparent);
  z-index: 1;
}

footer .hero > * {
  position: relative;
  z-index: 2;
}

footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
  gap: var(--sp-300);
}

footer .content h2 {
  font-weight: 900;
}

footer .content p {
  font-weight: 600;
}

footer button {
  border: none;
  border-radius: 29px;
  padding: var(--sp-200) var(--sp-500);
  background-color: var(--purple-600);
  color: var(--white);
  width: 200px;
  font-weight: 700;
  transition: background-color 0.7s;
  cursor: pointer;
}

footer button span {
  color: var(--slate-300);
  font-weight: 600;
}

footer button:hover {
  background-color: var(--purple-600-accent);
}

@media screen and (min-width: 768px) {
  /* Hero */
  .hero-container {
    height: 47.5rem;
  }

  .hero-image-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    transform: initial;
  }

  .hero-image.left,
  .hero-image.right {
    display: none;
  }

  .hero-image.tablet {
    display: block;
  }

  .hero-content {
    margin-top: 4.5rem;
    margin-inline: 7.5rem;
    gap: 1.25rem;
    width: 446.3px;
  }

  .hero-content h1 {
    padding-inline: 3rem;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  /* Main Content */
  .image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
  .image-container img {
    width: 152px;
    height: 160px;
  }

  .main-content .text-container {
    padding: 4rem 9rem;
  }

  /* Footer */
  footer {
    height: 482px;
  }

  footer .hero {
    padding: 4rem 8.25rem;
    background: url("/tablet/image-footer.jpg") no-repeat center/cover;
    height: 320px;
  }

  footer .number-circle {
    top: 135px;
  }
  footer .number-circle::before {
    top: -135px;
    height: 135px;
  }
}

@media screen and (min-width: 1200px) {
  /* Header */
  header {
    height: 108px;
  }

  /* Hero */
  .hero-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 360px;
    height: 448px;
    align-items: center;
    justify-content: center;
  }

  .hero-image-container {
    display: contents;
  }

  .hero-image.tablet {
    display: none;
  }

  .hero-image.left {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start;
    justify-self: start;
  }

  .hero-image.right {
    display: block;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: end;
    justify-self: end;
  }

  .hero-content {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0rem;
    align-self: center;
    justify-self: center;
  }

  .hero-content h1 {
    padding-inline: 0rem;
  }

  /* Main Content */

  .image-container {
    gap: 2rem;
  }

  .image-container img {
    width: 256px;
    height: 256px;
  }

  .main-content .text-container {
    width: 544px;
    padding-inline: 2rem;
  }

  /* Footer */
  footer .hero {
    padding: 112px 160px;
    background: url("/desktop/image-footer.jpg") no-repeat center/cover;
  }

  footer .content {
    flex-direction: row;
    align-items: start;
    text-align: start;
    justify-content: space-between;
    gap: var(--sp-300);
  }

  footer .content h2 {
    width: 445px;
  }

  footer .content p {
    width: 355px;
  }

  footer .number-circle {
    top: 140px;
  }
  footer .number-circle::before {
    top: -140px;
    height: 140px;
  }
}

@media screen and (min-width: 1440px) {
  /* Main Wrapper */
  .main-wrapper {
    margin: 0 auto;
    max-width: 1440px;
  }

  /* Footer */
  footer .content {
    margin: 0 auto;
    max-width: 1200px;
  }
}
