@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colors */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-600-accent: #b18bdd;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;

  --cyan-600-transparent: hsla(192, 37%, 48%, 0.9);

  /* Spacing */
  --sp-1900: 10.75rem;
  --sp-1400: 7rem;
  --sp-900: 4.5rem;
  --sp-800: 4rem;
  --sp-700: 3.5rem;
  --sp-500: 2.5rem;
  --sp-400: 2rem;
  --sp-300: 1.5rem;
  --sp-200: 1rem;

  /* Typography */
  --ff-red-hat: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
  background-color: var(--white);
  font-family: var(--ff-red-hat);
}

/* Buttons */
button {
  border: none;
  border-radius: 29px;
  padding: var(--sp-200) var(--sp-500);
  background-color: var(--purple-600);
  color: var(--white);
  width: 196px;
  font-weight: 700;
  transition: background-color 0.7s;
  cursor: pointer;
}

button span {
  color: var(--slate-300);
  font-weight: 600;
}

button:hover {
  background-color: var(--purple-600-accent);
}

/* Typography */

.red-hat-1 {
  font-family: var(--ff-red-hat);
  font-size: 42px;
  line-height: 110%;
  letter-spacing: 0px;
}
.red-hat-2 {
  font-family: var(--ff-red-hat);
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}
.red-hat-3 {
  font-family: var(--ff-red-hat);
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 4px;
}
.red-hat-4 {
  font-family: var(--ff-red-hat);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
.red-hat-5 {
  font-family: var(--ff-red-hat);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@media screen and (min-width: 768px) {
  .red-hat-1 {
    font-size: 48px;
  }
  .red-hat-2 {
    font-size: 36px;
  }
  .red-hat-3 {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .red-hat-1 {
    font-size: 64px;
  }
  .red-hat-2 {
    font-size: 40px;
  }
  .red-hat-3 {
    font-size: 16px;
  }
  .red-hat-4 {
    font-size: 18px;
  }
}

/* Header */
header {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: end;
}

header img {
  height: 28px;
}

/* Hero */
.hero-container {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 640px;
  display: flex;
  flex-direction: column;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  transform: scale(0.55);
}

.hero-image.tablet {
  display: none;
}

.hero-content {
  margin: -1.5rem 2.125rem 2rem 2.125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero-content h1 {
  font-weight: 900;
  color: var(--slate-900);
}

.hero-content p {
  color: var(--slate-600);
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-buttons button:first-of-type {
  background-color: var(--cyan-600);
}
.hero-buttons button:last-of-type {
  width: 161px;
}

/* Footer */
footer {
  height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

footer .number-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  z-index: 10;
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--slate-300);
  border-radius: 100%;
  color: var(--slate-600);
  font-weight: 700;
}

footer .number-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
}

footer .hero {
  padding: var(--sp-800) var(--sp-400);
  background: url("/mobile/image-footer.jpg") no-repeat center/cover;
  position: relative;
}

footer .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cyan-600-transparent);
  z-index: 1;
}

footer .hero > * {
  position: relative;
  z-index: 2;
}

footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
  gap: var(--sp-300);
}

footer .content h2 {
  font-weight: 900;
}

footer .content p {
  font-weight: 600;
}

footer button {
  border: none;
  border-radius: 29px;
  padding: var(--sp-200) var(--sp-500);
  background-color: var(--purple-600);
  color: var(--white);
  width: 196px;
  font-weight: 700;
  transition: background-color 0.7s;
  cursor: pointer;
}

footer button span {
  color: var(--slate-300);
  font-weight: 600;
}

footer button:hover {
  background-color: var(--purple-600-accent);
}

@media screen and (min-width: 768px) {
  footer {
    height: 482px;
  }

  footer .hero {
    padding: 64px 132px;
    background: url("/tablet/image-footer.jpg") no-repeat center/cover;
  }

  footer .number-circle {
    top: 135px;
  }
  footer .number-circle::before {
    top: -135px;
    height: 135px;
  }
}
@media screen and (min-width: 950px) {
  footer .number-circle {
    top: 155px;
  }
  footer .number-circle::before {
    top: -155px;
    height: 155px;
  }
}

@media screen and (min-width: 1440px) {
  header {
    height: 108px;
  }

  footer .hero {
    padding: 112px 160px;
    background: url("/desktop/image-footer.jpg") no-repeat center/cover;
  }

  footer .content {
    flex-direction: row;
    align-items: start;
    text-align: start;
    justify-content: space-between;
  }

  footer .content h2 {
    width: 445px;
  }

  footer .content p {
    width: 355px;
  }

  footer .number-circle {
    top: 140px;
  }
  footer .number-circle::before {
    top: -140px;
    height: 140px;
  }
}
